Repository bradennapier/intercomly, changes with the labels that .github/labeler.yml gives for each.
All labels: endpoint/contacts, endpoint/attributes, endpoint/search, endpoint/tags, utils, client, types, package.json, github-config, release-config, lint-config, readme

chore(release): 1.2.0 [skip ci]
  package.json
Labels: package.json

Notes added by 'git notes add'
  c3e44e7308497a59ef1829229a4864d4e68dba38
Labels: none

feat(docs): typedoc initial commit
  docs/assets/css/main.css
  docs/assets/images/icons.png
  docs/assets/images/icons@2x.png
  docs/assets/images/widgets.png
  docs/assets/images/widgets@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.js
  docs/classes/intercomlyclient.html
  docs/docs/README.md
  docs/docs/classes/_client_.intercomlyclient.md
  docs/docs/classes/_endpoints_attributes_.intercomdataattributes.md
  docs/docs/classes/_endpoints_contacts_.intercomcontacts.md
  docs/docs/classes/_endpoints_search_.intercomsearch.md
  docs/docs/classes/_endpoints_tags_.intercomtags.md
  docs/docs/classes/_utils_request_.intercomlyrequest.md
  docs/docs/globals.md
  docs/docs/modules/_client_.md
  docs/docs/modules/_endpoints_attributes_.md
  docs/docs/modules/_endpoints_contacts_.md
  docs/docs/modules/_endpoints_index_.md
  docs/docs/modules/_endpoints_search_.md
  docs/docs/modules/_endpoints_tags_.md
  docs/docs/modules/_index_.md
  docs/docs/modules/_types_.md
  docs/docs/modules/_utils_applymixins_.md
  docs/docs/modules/_utils_combinators_.md
  docs/docs/modules/_utils_constants_.md
  docs/docs/modules/_utils_guards_.md
  docs/docs/modules/_utils_helpers_.md
  docs/docs/modules/_utils_promise_.md
  docs/docs/modules/_utils_request_.md
  docs/docs/modules/_utils_strings_.md
  docs/globals.html
  docs/index.html
  package.json
  src/endpoints/attributes.ts
  src/endpoints/contacts.ts
  src/endpoints/search.ts
  yarn.lock
Labels: endpoint/contacts, endpoint/attributes, endpoint/search, package.json, readme

chore(release): 1.3.0 [skip ci]
  package.json
Labels: package.json

Notes added by 'git notes add'
  4d082987af546af12d704b26a393726f4c68f8ce
Labels: none

.github/labeler.yml:

"endpoint/contacts": 
  - src/endpoints/contacts.ts
"endpoint/attributes":
  - src/endpoints/attributes.ts
"endpoint/search":
  - src/endpoints/search.ts
"endpoint/tags":
  - src/endpoints/tags.ts
"utils":
  - src/utils/**/*
"client": 
  - src/client.ts
"types":
  - src/types.ts
"package.json":
  - package.json
  - yarn.lock
"github-config":
  - .github/workflows/**/*
  - .gitignore
"release-config":
  - release.config.js
  - tsconfig.json
  - .nvmrc
"lint-config":
  - eslintrc.js
  - eslintignore
  - .prettierrc.js
  - tsconfig.eslint.json
  - .editorconfig
"readme":
  - README.md
  - CHANGELOG.md
  - LICENSE
  - '**/*.md'
